<ion-view view-title="&nbsp;">

    <ion-content has-header="true" padding="false" class="bg-energized" scroll="false">
    	<div class="width-100-percent height-100-percent display-inline-block position-relative">
    		<div style="width:50%;height:20px" class="text-center margin-auto top-0 bottom-0 left-0 right-0 position-absolute">
    			<ion-spinner icon="spiral" class="spinner-light text-xs-huge"></ion-spinner>
    			<!-- br/>
    			<span class="text-light">Menyiapkan Aplikasi</span -->
    		</div>
    	</div>
    </ion-content>

</ion-view>