<ion-view title="{{ ::NewsTitle }}" left-buttons="leftButtons">
	<ion-content has-header="true">
		<ion-refresher pulling-text="Tarik untuk berita terbaru" on-refresh="newsRefresh()"></ion-refresher>
		<ion-list>
				<ion-item ng-repeat="news in news.rss.channel.item" class="item item-thumbnail-left item-icon-right cursor-pointer" type="item-text-wrap" ui-sref="main.berita.baca-berita-pemda({newsLink: (news.link | urlNews)})">
					<img data-ng-src="{{news.description | imgNews}}" class="bg-gray-lighter border-all border-1 border-solid border-gray" />
					<h3 class="wrap text-middle-xs text-big-sm text-huge-md text-giant-xl important">{{ ::news.title }}</h3>
					<p class="text-normal-mc text-normal-xs text-middle-sm">Sumber: {{ ::news.creator.__text }} {{ ::news.guid.__text | GetDomainFromGuid }}</p>
					<p class="text-normal-mc text-normal-xs text-middle-sm"><i class="ion-calendar"></i> {{ ::(news.pubDate | relativeDate) }}</p>
	          		<i class="icon ion-chevron-right icon-accessory"></i>
				</ion-item>
		</ion-list>
	</ion-content>
</ion-view>