<!-- ion-view view-title="Loka {{ ::CityName }}" left-buttons="leftButtons" -->

    <ion-tabs class="tabs-icon tabs-color-dark tabs-background-energized tabs-striped tabs-bottom">

        <ion-tab title="Menu Utama" icon="ion-ios-arrow-left" ui-sref="main.home" class="text-bold important"></ion-tab>

        <ion-tab title="PEMKAB" ui-sref="main.berita.pemda" class="text-big-xs text-bold important">
            <ion-nav-view name="berita-pemda"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Nasional" ui-sref="main.berita.nasional" class="text-big-xs text-bold important">
            <ion-nav-view name="berita-nasional"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Traveling" ui-sref="main.berita.lokal-travel({channel:'travel', total:20})" class="text-big-xs text-bold important">
            <ion-nav-view name="berita-lokal-travel"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

<!-- /ion-view -->